@media (min-width: 1200px){
	#LeftNavigation{
		display: table;
		left: -121px;

		-webkit-transition-duration: 700ms;
	    -moz-transition-duration: 700ms;
	    -o-transition-duration: 700ms;
	    transition-duration: 700ms;
	}

	#Content{
		width: 970px;

		-webkit-transition-duration: 2s;
	    -moz-transition-duration: 2s;
	    -o-transition-duration: 2s;
	    transition-duration: 2s;
	}

	.logo img{
		padding-top: 20px;
	}

	.slideMenu {
		left: 0 !important;
	}

	.slideContent {
		left: 150px !important;
	}

	.circle{
		padding: 20px 17px;
	    width: 180px;
	    height: 180px;

	    margin-left: 40px;
	    margin-right: 40px;
	}

}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
	
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
  	
}