<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
	<meta name="Web Developer" content="Web Developer in Sydney, Kishor Maharjan, Freelancer, Web Design, Web Development" />
	<meta name="keywords" content="Web Developer, Web Designer, Sydney, Freelancing, Web Development, Freelancer Web development, Freelancing" />
	<meta name="google" content="notranslate" />

	<title>Lasataya || Kishor Maharjan</title>
	<meta name="robots" content="noindex,nofollow">
	<link href="content/css/styles.min.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'> 	
	<base href="/lasataya/">
</head>
<body ng-controller="MobileMenuController">
	<div id="LeftNavigation" ng-controller="MainMenuController" slidemenu>
		<ul class="iconHolder">
			<li ng-repeat="menu in menus" ><a href={{menu.link}} ng-click="navSlider()">{{menu.name}}</a></li>
		</ul>
	</div>
<div id="Content" slidecontent ng-class="{'slidecontent' : status}">
		<div class="row logo">
			<div class="col-xs-2 hidden-sm hidden-md hidden-lg" >
				<nav class="navbar-default">
					<button type="button" class="navbar-toggle" ng-click="navSlider()">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button> 
				</nav>
			</div>
			<div class="col-md-12 col-xs-9">
				<img src="content/images/lasataya_logo.png" alt="lasataya logo" class="img-responsive" />
			</div>
		</div>
		<div class="contentDiv" ng-controller="RouteController">
			<div class="row">
				<div class="col-md-12 col-xs-12" ng-view>
				</div>
			</div>
			<div class="row">
				<footer class="col-md-12 text-center footer">
					<p>&copy; Lasataya 2014 || Kishor Maharjan</p>
				</footer>
			</div>
		</div>
	</div>
</body>
<script src="bower_components/requirejs/lib/require.js" data-main="content/script/config"></script>
</html>